
services:
  notebook:
    build: .
    container_name: p2-stac-ndvi
    working_dir: /workspace
    volumes:
      - .:/workspace
    ports:
      - "8888:8888"
    command: >
      jupyter lab
      --ip=0.0.0.0
      --port=8888
      --no-browser
      --NotebookApp.token=
      --NotebookApp.password=
      --allow-root
